.Editor textarea {
  opacity: 0;
}

.CodeMirror {
  position: relative;
  display: inline-block;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 500px;
  line-height: 24px;
  padding: 15px;
  font-size: 16px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

.CodeMirror-scroll {
  overflow: hidden ! important;
}

.ReactCodeMirror {
  height: 100%;
  min-height: 500px;
  width: 100%;
}

.CodeMirror-lines {
  padding: 0;
}

.CodeMirror-line {
  padding-left: 0;
}


/* CUSTOM SYNTAX HIGHLIGHTING COLORS */
.cm-s-default .cm-comment {
  color: #bb9772;
}

.cm-s-default .cm-number {
  font-weight: 800;
}

.cm-s-default .cm-keyword {
  color: #6e42bd;
}

.cm-s-default .cm-operator {
  color: #867c7c;
}

.cm-s-default .cm-identifier {
  font-style: italic;
}
